html {
    height: 100%;
}
body {
    min-height: 100%;
    margin: 0;
    padding: 0px;
    font-family: 'Cabin', sans-serif;
    overflow-x: hidden;
}


.navbar {
    display: flex;
    justify-content: center;
    background-color: white;
}


.navbar a {
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
}

.navbar a:hover {

    color: black;
    transform: scale(1.15);
    transition: 0.5s;
}

.navbar a.active {
    background-color: #4CAF50;
    color: white;
} 

.container{
    display: flex;
    width: 35rem;
    height: 25rem;
    position: relative;
    top: 10rem;
    left: 11%;
}

.page-home{
    font-size: 65px;
    color: black;
    cursor: default;
}

.page-home:hover{
    transform: scale(1.1);
    transition: 1s;
}

.page-home:not(:hover){
    transition: 0.5s;
}

p{
    color: black;
    font-size: 25px;
}

.container-image {
    display: flex;
    position: relative;
}

#padeiro{
    position: relative;
    width: 37rem;
    height: 37rem;
    top: -18rem;
    left: 65rem;
}
h2{
    color: black;
}

#padeiro:hover{
    transform: scale(1.1);
    transition: 2s;
}

#padeiro:not(:hover){
    transition: 0.3s;
}

.info{
    display: flex;
    position: relative;
    width: 100%;
    height: 24rem;
    background-color: black;
    top: -9rem;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    cursor: default;
}

img{
    width: 10rem;
    height: 10rem;
    cursor: default;
}

.tittle-infos{
    color: white;
    font-size: 25px;
}

.info-text{
    color: white;
    font-size: 20px;
    position: relative;
}

.buffet{
    display: grid;
    justify-content: center;
    text-align: center;
    width: 20rem;
    margin-right: 35px;

}

.horario{
    display: grid;
    justify-content: center;
    text-align: center;
    width: 20rem;
    margin-right: 35px;
}

.delivery{
    display: grid;
    justify-content: center;
    text-align: center;
    width: 20rem;
}

.tittle-ittems{
    display: flex;
    position: relative;
    font-size: 25px;
    justify-content: center;
    text-align: center;
    top:-7rem
}

section{
    width: 100%;
    height: 23rem;
    position: relative;
    display: flex;
    margin-top: 20px;
    align-items: center;
    top: -6rem;
}

section h2{
    font-size: 30px;
}

section p{
    color: grey
}


.text-box{
    position: relative;
    display: grid;
    width: 25rem;
    height: 15rem;
    left: 20%;
}
.img-box{
    position: relative;
    left: 28%;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 300px;
    border-radius: 10px;
}

.text-box p{
    font-size: 25px;
}

.text-box-2{
    position: relative;
    display: grid;
    width: 25rem;
    height: 16rem;
    left: 55%;
}

.img-box-2{
    position: relative;
    left: -6%;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 300px;
    border-radius: 10px;
}

