
































































































































.socia{
    position: absolute;
    z-index: 10;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social li{
    list-style: none;
}

.social li a{
    display: inline-block;
    margin-right:20px;
    filter: invert(1);
}

.social li:hover{
    transform: scale(0.5) translateY(-15px);
}

.menu{
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul li{
    list-style: none;
}

.menu ul li a{
    text-decoration: none;
    font-size: 24px;
    color: #00000000
}

.menu ul li a:hover{
    color:cornflowerblue;
}

@media(max-width: 911px){
    .toggle
    .showcase,
    .showcase header
    {
        padding: 40px
    }
    .text h2{}

}
