@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@1&display=swap');

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0px;
    background-color: #000;
    font-family: 'Cabin', sans-serif;
    overflow-x: hidden;
}

header {
    background-color: #000;
    color: #fff;
    padding: 13px;
    display: flex;
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    background-color: #000;
    box-sizing: border-box;
    color: #fff;
    list-style-type: none;
    display: flex;
    justify-content: center;
    width: 100%;
}

header ul img {
    border-radius: 25px;
    left: -15px;
    position: relative;
}


header ul li {
    margin: 7px 40px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
    justify-items: center;

}

#login {
    position: relative;
    display: flex;
    padding: 5px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #059862;
    border-radius: 20px;
    font-family: 'Cabin', sans-serif;
    font-size: 17px;
    left: 10%;
}

nav {
    width: 100%;
    height: 657px;
}

nav img {
    background-image: url('/assets/images/banner.jpg');
    position: absolute;
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
}

.card-container {
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    justify-content: center;
}


.row {
    display: flex;
    align-items: center;
    margin: 15px;
    margin-left: 3%;
    text-align: center;
    opacity: 1;
    position: relative;
    z-index: 1;
    flex-wrap: wrap;
    top: -10rem;
}

.row img {
    width: 100%;
    height: 220px;
}


.row h2 {
    color: #fff;
    box-sizing: content-box;
    width: 100%;
    font-size: 30px;
}

.card {
    margin-top: 20px;
    width: 11%;
    height: 210px;
    background-color: #f2f2f2;
    margin: 10px;
    border-radius: 12px;
    transition: background-color 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

@media screen and (max-width: 768px) {
    .card-container {
        padding: 0;
    }

    .row {
        top: 35rem;
    }

    .row h2 {
        font-size: 24px;
    }
}

.card:hover {
    background-color: #ddd;
    transform: scale(1.03);
    transition: all .3s;
}

@media screen and (max-width: 768px) {
    .card-container {
        padding: 0;
    }
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer-section {
    width: 30%;
    text-align: center;
}


.footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}


.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
}


.footer-section img {
    max-width: 40px;
    margin-right: 10px;
}


.footer-section p a {
    color: #fff;
    text-decoration: none;
}


.footer-section a img {
    max-width: 120px;
}