html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: #1a1a1a;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}


nav {
  background-color: #000;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul img {
  border-radius: 50%;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #000;
  text-decoration: none;
}

.content-image{
  padding: 0px;
  width: 400px;
  height: 400px;
  position: relative;
  top: 9rem;
  left: 8rem;
}

.content-image img{
  display: flex;
  position: relative;
  margin: 0;
  align-items: center;
  width: 400px;
  height: 400px;
  border-radius: 15px;
}


.section-purchase{
  display: flex;
  padding: 20px;
  margin: 0;
  position: relative;
  width: 500px;
  height: 500px;
  top: -400px;
  left: 55%;
}

h1{
  color: rgb(69, 204, 69);
  margin: 0;
  padding: 0;
  height: 50px;
}

h2{
  color: #fff;
  margin: 0;
  height: 50px;
  width: auto;
}

.options{
  position: relative;
  height: 20rem;
  width: 40rem;
  margin: 0;
  padding: 0;
  top: 20%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: #fff;
}

.options .items20rs{
  width: 5rem;
  height: 2rem;
}

/*.product-info {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.product-image {
  margin-right: 20px;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-details h2 {
  margin-bottom: 10px;
}

.product-details h3 {
  margin-bottom: 20px;
}

.buy-button {
  background-color: green;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}*/ 