body {
  background-color: black;
  display: flex;
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar li {
  display: inline;
  margin-right: 10px;
}

.navbar li a {
  color: #000;
  text-decoration: none;
}

.container {
  position: relative;
  top: 400px;
  left: -500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  perspective: 1000px;
  height: 200px;
  width: 300px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.flip {
  transform: rotateY(180deg);
}

.front, .back {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.front {
  transform: rotateY(0deg);
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.back {
  transform: rotateY(180deg);
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.back input, .back button {
  margin-bottom: 10px;
}

.back input[type="text"], .back input[type="password"] {
  width: 100%;
  padding: 10px;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}
