@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@1&display=swap');

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0px;
    background-color: #000;
    font-family: 'Cabin', sans-serif;
}

header {
    background-color: #000;
    color: #fff;
    padding: 13px;
}

ul {
    margin: 0;
    padding: 0;
    background-color: #000;
    box-sizing: border-box;
    color: #fff;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

ul img {
    border-radius: 25px;
    left: -15px;
    position: relative;
}


header ul li {
    margin: 7px 40px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
    justify-items: center;

}

#login {
    position: relative;
    display: flex;
    padding: 5px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #059862;
    border-radius: 20px;
    font-family: 'Cabin', sans-serif;
    font-size: 17px;
    left: 550px;
}

.background-image {
    background-image: url('/assets/images/banner.jpg');
    position: absolute;
    width: 1600px;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.card-container {
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
}


.row {
    display: flex;
    align-items: center;
    margin: 15px;
    margin-left: 5%;
    text-align: center;
    opacity: 1;
    position: relative;
    z-index: 1;
    flex-wrap: wrap;
    top: 35rem;
}

.row img {
    width: 200px;
    height: 235px;
}


.row h2 {
    color: #fff;
    box-sizing: content-box;
    width: 100%;
    font-size: 30px;
}
.card {
    margin-top: 20px;
    width: 200px;
    height: 235px;
    background-color: #f2f2f2;
    margin: 10px;
    border-radius: 12px;
    transition: background-color 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

@media screen and (max-width: 768px) {
    .card-container {
        padding: 0;
    }

    .row {
        top: 35rem;
    }

    .row h2 {
        font-size: 24px;
    }
}

.card:hover {
    background-color: #ddd;
    transform: scale(1.03);
    transition: all .3s;
}

/* Media queries */
@media screen and (max-width: 768px) {
    .card-container {
        padding: 0;
    }
}